<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Short</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>
    <div class="pb-6">

        <header class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 pt-6 mb-1">
            <h1 class="text-4xl font-bold text-center mb-4 text-green">Go-Short</h1>
        </header>

        <div class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 mt-6 mb-1">

            <form id="go-short"
                class="flex flex-col rounded-md border-2 border-green p-6 rounded-lg"
                action="/" method="post">
                <div class="grow mb-1">
                    <label>
                        <input placeholder="Enter link to get short" type="text" name="url" required
                            class="w-full border-2 rounded-md py-2 px-3 transition ease-in-out delay-150 duration-200 dark:border-green">
                    </label>
                    <!-- <script>
                    {{/* Only display the error field, if there is an error */}}
                    {{ if ne .Error "" }}
                        <div id="url-error"
                        class="mt-3 rounded-md bg-red-800 border-4 border-red-900 text-white pl-4 py-3 font-medium">
                        Oops! {{ .Error }}
                    </div>
                    {{ end }}
                   </script> -->
                </div>
                <input type="button" name="submit" value="Shorten Link"
                    class=":cursor-pointer dark:text-white flex-none font-medium border-0 border-slate-600 shadow-md hover:shadow-none bg-green dark:bg-green w-full mt-3 text-white px-3 py-4 uppercase rounded-md">
            </form>

        </div>

    </div>

    <div class="mx-auto my-auto lg:max-w-8xl lg:w-[70rem] w-full px-4 mt-3 mb-4">
        <table id="shortened-links-table"
            class="w-full table-fixed rounded-md border-separate border-spacing-2 border-2 dark:border-2 dark:border-green border-green">
            <thead>
                <tr>
                    <th
                        class=" rounded-sm pl-4 text-center dark:border-green border-green dark:border-2 py-2">
                        Link</th>
                    <th
                        class=" rounded-sm pl-4 text-center dark:border-green dark:border-2">
                        Short Link</th>
                    <th
                        class=" rounded-sm pl-4 text-center dark:border-green dark:border-2">
                        Expiry</th>

                </tr>
            </head>
        </thead>
        <tbody class="text-center">
            <!-- {{ if len .URLList | eq 0 }}
            <tr>
                <td colspan="3"
                    class="border border-slate-300 py-2 pl-4 rounded-sm bg-white dark:text-white dark:bg-slate-700 dark:border-0">
                    No URLs 
                </td>
            </tr>
            {{ end }} -->
            <!-- {{/* Iterate over the existing URL data */}} -->
            {{ range .URLData }}
            <tr>
                <td
                    class="border border-slate-300 py-2 pl-4 text-left rounded-sm bg-white dark:text-white dark:bg-slate-700 dark:border-0">
                    <a href="{{$.BaseURL }}o/{{ .ShortenedURL }}" target="_blank"
                        class="hover:underline underline-offset-4 decoration-2 decoration-blue-500 dark:decoration-slate-500">{{$.BaseURL
                        }}o/{{ .ShortenedURL }}</a>
                </td>
                <td
                    class="border border-slate-300 py-2 px-4 text-left block rounded-sm bg-white dark:bg-slate-700 dark:border-0">
                    <div class="truncate" title="{{ .OriginalURL }}">{{ .OriginalURL }}</div>
                </td>
                <td
                    class="border border-slate-300 py-2 rounded-sm bg-white dark:text-white dark:bg-slate-700 dark:border-0">
                    {{ .Clicks | formatClicks }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </div>
</body>
</html>